@import "../../styles/variables";

header.header {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem 2rem;
  position: absolute;
  top: 0;
  transition: all 500ms;
  z-index: 5;

  & > .hamburger {
    position: absolute;
    display: grid;
    place-items: center;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    background-color: $levelOneGray;
    @media screen and (max-width: $mdScreen) {
      width: auto;
      height: auto;
      padding: 0.5rem;
    }
  }

  & > .brand {
    flex: 1;
    display: flex;
    justify-content: center;
    & > img {
      width: 40px;
      user-select: none;
    }
  }
}
