.loader {
  z-index: 10;
  position: fixed;
  width: 100%;
  min-height: 100vh;
  background-color: #1f1f1f;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    max-width: 100%;
  }
}
