.upper_containers_wrapper {
  z-index: 2;
  width: 100%;
  padding: 0 1rem;
  max-width: 1200px;
  position: absolute;
  top: 0rem;
  height: 2rem;
  left: 50%;
  transform: translate(-50%, 0);
  .upper_containers {
    display: flex;
    flex-direction: column;
    transition: opacity 500ms;
    position: absolute;
    top: 0;
    right: 0;
    width: 25vw;
    max-width: 450px;
    @media screen and (max-width: 1500px) {
      width: 50vw;
    }
    @media screen and (max-width: 750px) {
      width: 50vw;
      right: 50%;
      transform: translateX(50%);
    }
    .crane_hook {
      transition: all 500ms;
      width: 100%;
      z-index: 1;
      position: relative;
    }
    .upper_container {
      width: 100%;
      position: relative;
      z-index: 2;
      filter: drop-shadow(0 1rem 1rem rgba(0, 0, 0, 0.5));
      bottom: 2rem;
    }
  }
}
