footer.footer {
  color: white;
  padding: 2rem 0;
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 750px) {
      flex-direction: column;
    }
    .logo {
      width: 40px;
      cursor: pointer;
      margin-right: 2rem;
      @media screen and (max-width: 750px) {
        padding: 1rem 0;
        margin-right: 0;
      }
    }
    .contact {
      padding: 1rem 0;
      padding-left: 1rem;
      border-left: 1px solid white;
      @media screen and (max-width: 750px) {
        border-top: 1px solid white;
        border-left: none;
        padding-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
      }
      .item {
        margin-bottom: 1rem;
        display: flex;
        align-items: center;
        span {
          color: rgb(255, 42, 106);
        }
        i {
          margin-right: 0.5rem;
        }
      }
      .social {
        a {
          color: white;
        }
        display: flex;
        align-items: center;
        i {
          margin-right: 1rem;
          font-size: 24px;
        }
      }
    }
  }
  .signature {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    a {
      color: white;
      text-decoration: none;
      font-weight: bold;
    }
  }
}
