.home {
  overflow-x: hidden;
}

.content {
  color: white;
  section {
    margin: 12rem 0;

    .text {
      h2 {
        font-weight: bold;
        margin-bottom: 1rem;
      }
      p {
        line-height: 27px;
      }
    }
  }

  section.about {
    margin-bottom: 6rem !important;
    @media screen and (max-width: 750px) {
      margin-bottom: 6rem;
    }
    .container {
      display: flex;
      justify-content: space-between;
      @media screen and (max-width: 750px) {
        flex-direction: column;
        align-items: center;
      }
    }

    .text {
      flex: 6;
      margin-right: 3rem;
      @media screen and (max-width: 750px) {
        margin-right: 0;
        margin-top: 1rem;
      }
      a {
        color: rgb(255, 42, 106);
      }
    }
    .containers {
      flex: 4;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      z-index: 1;
      position: relative;
      @media screen and (max-width: 750px) {
        order: -1;
      }
      .base {
        z-index: 2;
        width: 25vw;
        max-width: 450px;
        position: relative;
        @media screen and (max-width: 1500px) {
          width: 50vw;
        }
      }
    }
  }

  section.coffee {
    position: relative;
    margin: 3rem 0 !important;
    .bg {
      position: absolute;
      top: 0;
      left: 50%;
      width: 100%;
      max-width: 1500px;
      transform: translate(-50%, 0);
      pointer-events: none;
    }

    .text {
      padding-top: 3rem;
    }

    .photos {
      margin-top: 2rem;
      display: flex;
      column-gap: 1rem;
      justify-content: center;
      div {
        &:nth-child(1) {
          z-index: 1;
          position: relative;
        }
        &:nth-child(2) {
          z-index: 2;
          position: relative;
        }
        &:nth-child(3) {
          z-index: 1;
          position: relative;
        }
        width: 25%;
        @media screen and (max-width: 750px) {
          width: 100%;
        }
        img {
          width: 100%;
          filter: grayscale(65%);
          transition: all 250ms;
          &:hover {
            filter: grayscale(0%);
          }
        }
      }
    }
  }

  section.references {
    .text {
      h2 {
        margin-bottom: 2rem;
        @media screen and (max-width: 750px) {
          text-align: center;
        }
      }
    }

    .items {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media screen and (max-width: 750px) {
        display: grid;
        column-gap: 1rem;
        row-gap: 1rem;
        grid-template-columns: repeat(2, 1fr);
        place-items: center;
      }
      .item {
        img {
          width: 100%;
        }
      }
    }
  }

  .parallax {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    /* Set a specific height */
    min-height: 700px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      background-image: url("/img/kontejner_side.jpg");
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      opacity: 50%;
    }
    .overlay {
      z-index: 1;
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;

      background: rgb(0, 0, 0);
      background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 1) -20%,
        rgba(19, 33, 60, 0) 100%
      );
    }
    .text {
      position: relative;
      z-index: 2;
      h2,
      h3 {
        text-align: center;
      }
    }
  }
}
